- name: Deploy 3-Tier Application
  hosts: localhost
  become: true

  vars_files:
    - vars/main.yml
    - vars/secrets.yml

  tasks:
    - name: Login to Docker Hub
      community.docker.docker_login:
        username: "{{ DOCKER_USERNAME }}"
        password: "{{ DOCKER_PASSWORD }}"

    - name: Build and push Docker images
      community.docker.docker_image:
        name: "{{ item.name }}"
        tag: "{{ item.tag }}"
        build:
          path: "{{ item.path }}"
        push: true
        source: build
      loop: "{{ images }}"

    - name: Create db_password.txt
      copy:
        dest: ./db_password.txt
        content: "{{ DB_PASSWORD }}"

    - name: Run Docker Compose
      community.docker.docker_compose_v2:
        project_src: .

    - name: Remove db_password.txt
      file:
        path: ./db_password.txt
        state: absent